.board {
    width: 850px;
	height: 550px;
	margin: 5px auto;
    background-color: var(--bgc);
    color: var(--text-color);
    border: 5px solid var(--border);
    border-radius: 7px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}